.login-form label{
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
}
body{
    background:#f2f2f2 !important;
}
.navbar-light{
    background-color: #f2f2f2;
}
.navbar{
     background-color: black;

}
.nav-link{
    color: gray !important;
}
.clr{
    background-color: rgba(154, 205, 253, 0.12);
}
.mt-7{
    margin-top: 7%;
}
.txt{
    color: gray;
    font-weight: 600;
}