.dot{
    width: 5px;
    height: 5px;
    background-color: #363636;
    border-radius: 50%;
    margin: 0 0.2rem
}
.middle-point{
    width: 10px;
    height: 10px;
    background-color: #363636;
    border-radius: 50%;
    margin: 0 0.2rem
}
.image-block{
    position: relative;
    
}
.image-block:before{
    position: absolute;
    content: "";
    top: 45px;
    left: 45px;
    right: 45px;
    bottom: 45px;
    border-width: 6px;
    border-style: solid;
    border-color: #f1f2f5;
    border-image: initial;
    border-radius: 3px;
}
.about-section .image-block:before {
    position: absolute;
    content: "";
    top: 45px;
    left: 45px;
    right: 45px;
    bottom: 45px;
    border-width: 6px;
    border-style: solid;
    border-color: #f1f2f5;
    border-image: initial;
    border-radius: 3px;
    width: 75%;
    height: 75%;

    margin-left: 10px;
    margin-top: 10px
}
.image-one{
    position: relative;
    margin-left: 130px;
    box-shadow: #00000045 0 5px 20px;
    display: inline-block;
    border-radius: 6px;
}
.image-box{
    overflow: hidden;
    border-radius: 6px;
}
.image-two{
    position: relative;
    margin-top: -180px;
    box-shadow: #00000045 0 5px 20px;
    display: inline-block;
    border-radius: 6px;
}
.image-box2{
    position: relative;
    border-radius: 6px !important;
}




